@charset "utf-8";

.ant-layout-header {
  width: 100%;
  height: 50px;

  padding: 0px 20px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.kaist_logo_wrap {
  width: 400px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.logi_wraps {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.kaist_logo {
  width: 150px;
  height: 35px;
}

.header_txt {
  font-size: 1.1rem;
  font-weight: bold;

  margin-left: 10px;

  color: var(--white-color);
}

/* .header_txt {
  white-space: nowrap;
  font-weight: bold;
  position: absolute;
  left: 265px;
  top: 3px;

  font-size: 1.1rem;
} */

.nav_wrap {
  width: 50%;
  height: 45px;
}

.nav {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav > a > li {
  height: 45px;

  line-height: 45px;

  font-weight: normal;
  color: var(--white-color);
}

.nav > a > li:hover {
  color: var(--hover-color);

  border-bottom: 2px solid var(--hover-color);
}

.nav > a.active > li {
  color: #177ddc;

  border-bottom: 2px solid var(--hover-color);
}

.ant-menu {
  font-size: 15px;

  background: none;
}

.ant-menu-horizontal {
  border-bottom: 0px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item > a,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  height: 45px;

  display: flex;
  align-items: center;
}

.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 100%;

  display: flex;
  align-items: center;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  font-weight: bold;
}

.nav_right {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
