.MM00 {
  width: 100%;
}

.MM00_topology_wrap {
  width: 100%;
  height: 500px;
}

.MM00_topology_wrap > div {
  width: 100%;
  height: 100%;
}

.MM00_topology_wrap > .n-topology.n-topology-blue {
  width: 100%;
  height: 100%;
}
