@charset "utf-8";

/* 상세정보 Modal */
.ant-modal {
  width: 1500px !important;
  padding: 0;
}

.MM02_detail_table {
  width: 100%;

  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
}

.MM02_detail_table tbody tr th,
.MM02_detail_table tbody tr td {
  padding: 8px 20px;

  box-sizing: border-box;
}

.MM02_detail_table tbody tr {
  border-bottom: 1px solid var(--border-color);
}

.MM02_detail_table tbody tr:last-child {
  border-bottom: 0px;
}

.MM02_detail_table tbody tr th {
  width: 40%;

  border-right: 1px solid var(--border-color);
  background: var(--table-header-color);
}

.MM02_modal_table_wrap {
  margin-top: 10px;
  margin-bottom: 50px;
}

.MM02_modal_table th {
  width: 150px;
  font-weight: bold;
  padding: 5px 10px;
  color: #228be6;
}

.col-md-4 {
  color: rgba(255, 255, 255, 0.8);
}
