@charset "utf-8";

.ant-card-body {
  height: 700px;
}

.chart_wrap {
  margin: auto 30px;
}

.chart_wrap > ul {
  margin-bottom: 50px;
}

.chart_wrap > ul > li {
  padding: 10px;
}

.chart_wrap > ul > li > p {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  color: #1890ff;
}

.chart_wrap > ul > li > p ::after {
  clear: both;
  content: "";
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
  top: 0;
  left: 100%;
}
